In [1]:
print("hello")

hello

In [2]:

file1=open("new_file.txt","+a")
file1.write("hi there am from python program")
file1.close()
     
file1=open("new_file.txt","r")
print(file1.read())
file1.close()

hi there am from python program

In [1]:
mytuple=("alpa","beta","gamma")
myit=iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

alpa
beta
gamma

In [3]:
list1=[1,2,3,4]

iterator_obj=iter(list1)
next(iterator_obj)
next(iterator_obj)
print(next(iterator_obj))
print(next(iterator_obj))

3
4

In [4]:
string1="python"
iter1=iter(string1)
next(iter1)

'p'

In [5]:
tuple=("alpa","beta","gamma")
for x in mytuple:
    print(x)

alpa
beta
gamma

In [6]:
mytuple=("tanu","nagesh")
for x in mytuple:
    print(x)

tanu
nagesh

In [8]:
import builtins 
builtins.

SyntaxError: invalid syntax (1890476584.py, line 2)

In [4]:
def my_function():
    '''loreem isum dolor sit
    docstring'''
    return None
print("using__doc__:")
print(my_function.__doc__)
print("using help:")
help(my_function)

using__doc__:
loreem isum dolor sit
    docstring
using help:
Help on function my_function in module __main__:

my_function()
    loreem isum dolor sit
    docstring

In [5]:
import math 
print(math.__doc__)

This module provides access to the mathematical functions
defined by the C standard.

In [8]:
def cube(y):
    return y*y*y
lambda_cube = lambda y: y*y*y
print("using function defined with 'def' kryword, cube:", cube(5))
print("using lambda function, cube:", lambda_cube(5))

using function defined with 'def' kryword, cube: 125
using lambda function, cube: 125

In [9]:
odd_list=[]
for i in range(100):
    if i % 2 !=0:
        odd_list.append(i)
print(odd_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [8]:
odd_list= [i for i in range(100) if i % 2 != 0]
print(odd_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [43]:

fruits = ['Orange','Banana','Mango','Grapes','Watermelon']
fruit_list= [i for i in fruits if i.find('orange')]
print(fruit_list)

['Orange', 'Banana', 'Mango', 'Grapes', 'Watermelon']

In [32]:
word = 'MANGO for MANGO'
print(word.find('for'))

6

In [41]:
fruit = 'Mango'
print(fruit.find('g'))

3

In [45]:
fruits = ['Orange','Banana','Mango','Grapes','Watermelon']
fruit_list= [i for i in fruits if i.count("orange")>0]
print(fruit_list)

[]

In [46]:
fruits = ['Orange','Banana','Mango','Grapes','Watermelon']
fruit_list= [i for i in fruits if i.find("a")!=-1]
print(fruit_list)

['Orange', 'Banana', 'Mango', 'Grapes', 'Watermelon']

In [55]:
fruits = ['Orange','Banana','Mango','Grapes','Watermelon']
fruit_list= [i.upper()for i in fruits if i.find("mango")]
print(fruit_list)

['ORANGE', 'BANANA', 'MANGO', 'GRAPES', 'WATERMELON']

In [10]:
#matrix of 16*16 odd numbers
mat_com=[[i for i in range (32) if i%2 !=0]for j in range(16)]
mat_com

[[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31]]

In [18]:
#construct list in a natural way with list compression

matrix =[]
for i in range(3):
    matrix.append([])
    for j in range (5):
        matrix[i].append(j)
matrix

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [19]:

matrix =[]
for i in range(16):
    matrix.append([])
    for j in range (16):
        matrix[i].append(j)
matrix

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]]

In [22]:
#example without list compression
fruits = ["apple","banana","cherry","kiwi","mango"]
newlist =[]
for x in fruits:
    if"a" in x:
        newlist.append(x)
print(newlist)

['apple', 'banana', 'mango']

In [23]:
#example with list compression

fruits =["apple","banana","cherry","kiwi","mango"]
newlist =[x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [26]:
#creating a tuple
tuple1 = (1,2,3,4)
print(tuple1)
list1=[1,2,'hii']
print(list1)

(1, 2, 3, 4)
[1, 2, 'hii']

In [28]:
t1= (1,[2,3])
t1[1].append(4)
t1

(1, [2, 3, 4])

In [31]:
#difference in memory usage

import sys
a_list=list()
a_tuple=tuple()
a_list=[1,2,3,4,5]
a_tuple=(1,2,3,4,5)
print(sys.getsizeof(a_list),"bytes")
print(sys.getsizeof(a_tuple),"bytes")

104 bytes
80 bytes

In [49]:
#creating a set 

people = {"jay","idrish","archi"}
print("people:",end="")
print(people)
people.add("daxit")
for i in range(1,6):
    people.add(i)
print("\nset after adding element:",end="")
print(people)

people:{'idrish', 'jay', 'archi'}

set after adding element:{1, 2, 3, 4, 5, 'idrish', 'jay', 'daxit', 'archi'}

In [43]:
people={1,2,3,4}
print(people)

people.add ("py")
print(people)

{1, 2, 3, 4}
{1, 2, 3, 4, 'py'}

In [34]:
d1={}
print(type(d1))

<class 'dict'>

In [37]:
d1={""}
print(type(d1))

<class 'set'>

In [44]:
people = {'A','B','C','D'}
vampire={'E','F','G','H','I'}
dracula={'J','K','L','M','N'}

population= people.union(vampire)
population

{'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'}

In [46]:
#intersection

set1=set()
set2=set()
for i in range(5):
    set1.add(i)
    for i in range(3,9):
        set2.add(i)
set3=set1.intersection(set2)
print("intersection using intersection()function")
print(set3)
set3= set1 & set2
print("\nintersection using '&'operator")
print(set3)

intersection using intersection()function
{3, 4}

intersection using '&'operator
{3, 4}

In [48]:
set1=set()
set2=set()
for i in range(5):
    set1.add(i)
    for i in range(3,9):
        set2.add(i)
set3=set1.intersection(set2)
set3

{3, 4}

In [51]:
#difference

set1=set()
set2=set()
for i in range(5):
    set1.add(i)
for i in range(3,9):
    set2.add(i)
    set3=set1.difference(set2)
print("difference of two sets using difference()function")
print(set3)
set3=set1-set2
print("\ndifference of two sets using'-'operator")
print(set3)

difference of two sets using difference()function
{0, 1, 2}

difference of two sets using'-'operator
{0, 1, 2}

In [52]:
set1=set()
for i in range(5):
    set1.add(i)
print(set1)

set1.clear()
print(set1)

{0, 1, 2, 3, 4}
set()

In [ ]:
#access key using loops.keys()

statesAndCapitals= {'Gujarat':'Gandhinagar':'Maharastra',:Mumbai':'Rajstan':'Jiapur':'Bihar':'Patna'}
                    print('list of given states')

In [2]:
states_and_capital={
    'A':'1'
    'B':'2'
    'C':'3'
    'D':'4'
}

SyntaxError: invalid syntax (2946765117.py, line 3)

In [ ]:
fd = open(r"a.txt","w+")
val =fd.writelines("Hello python")
print(val)
fd.close()

fd =open(r"a.txt","r")
file_data =fd.read()
print(file_data)
fd.close()

None
Hello python

In [12]:
import csv

with open("C:/Users/HP/Desktop/EXCELSHEET/Book.csv","r") as file_object:
    
  data = csv.reader(file_object)
  for line in data:
     print(line[0])

1
a

import csv

with open("C:\Users\HP","r") as file_object:
    
  data = csv.reader(file_object)
  for lines in data:
     print(line[2])

test

In [3]:
x=2
if x % 2 == 0:
   print(x,"Is Even Number")
else:
   print(x, "Is Odd Number")

2 Is Even Number

In [6]:
test_keys=["rash","kill","varsha"]
test_values=[1,4,5]
print("original key list is:"+str(test_keys))
print("original value list is:"+str(test_values))
res={}
for key in test_keys:
    for value in test_values:
        res[key]=value
        test_values.remove(value)
        break
    print("resulatantant dictionary is:"+str(res))

original key list is:['rash', 'kill', 'varsha']
original value list is:[1, 4, 5]
resulatantant dictionary is:{'rash': 1}
resulatantant dictionary is:{'rash': 1, 'kill': 4}
resulatantant dictionary is:{'rash': 1, 'kill': 4, 'varsha': 5}

In [30]:
def simple_interest(p,t,r):
    print('the principal is',p)
    print('the time period is',r)
    print('the rate of interest is',r)
    si=(p*t*r)/100
    print('the simple interest is',si)
    return si
simple_interest(7500,6,8)

the principal is 7500
the time period is 8
the rate of interest is 8
the simple interest is 3600.0

3600.0

In [8]:
def isPrime(n):
    if n<=1:
        return False
    for i in range(2,n):
        if n % i == 0:
            return False;
    return True
print("true") if isPrime(11) else print("false")
print("true") if isPrime(14) else print ("false")

true
false

In [29]:
list1 =[10,21,4,45,66,93]
for num in list1:
   if num % 2! = 0:
print(num,end =" ")

SyntaxError: invalid syntax (562989294.py, line 3)

In [22]:
def unique (list1):
    unique_list=[]
    for x in list1:
        if x not in unique_list:
            unique_list.append(x)
            for x in unique_list:
                print(x),
list1 =[10,20,10,30,40,40]
print("the unique values from 1st list is")
unique(list1)
list2 =[1,2,1,1,3,4,3,3,5]
print("\n the unique values from 2nd list is")
unique (list2)

the unique values from 1st list is
10
10
20
10
20
30
10
20
30
40

 the unique values from 2nd list is
1
1
2
1
2
3
1
2
3
4
1
2
3
4
5